BINANCE_API_KEY=yxj7btuttJlEYA1...............................
BINANCE_API_SECRET=6L8qJ5NxEV5C24s...............................

 You can generate free testnet API keys from Binance Futures Testnet.
### 🔐 API Setup

This project requires Binance API keys.

1. Copy `.env.example` to `.env`
2. Replace with your own Binance Testnet API keys:

 
> ⚠️ Note: For security reasons, API keys are not included in this repository. Please create a `.env` file in the `trading_bot` directory.
